@using CNWeb.Models
@model List<LoaiSanPham>


@{
    ViewBag.Title = "Sản Phẩm";
    Layout = "~/Views/Shared/_ShopLayout.cshtml";
}


@Html.Partial("BreadcrumbsPartial","Shared")

<!--prdt-starts-->
<div class="prdt">
    <div class="container">
        <div class="prdt-top">
            <div class="col-md-9 prdt-left">
                <div class="SPcontent">

                </div>
            </div>
            <div class="col-md-3 prdt-right">
                <div class="w_sidebar">
                    <section class="sky-form">
                        <h4>Danh mục sản phẩm</h4>
                        <div class="row1 scroll-pane">
                            <div class="col col-4">
                                <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i></i>Tất cả</label>
                            </div>
                            <div class="col col-4">
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Sản phẩm nổi bật</label>
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Sản phẩm mới</label>
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Sản phẩm khuyến mãi</label>
                            </div>
                        </div>
                    </section>
                    <section class="sky-form">
                        <h4>Loại thú cưng</h4>
                        <div class="row1 row2 scroll-pane">
                            
                            <div class="col col-4">
                                <ul>
                                    <label data-id="null" class="checkbox listCate"><input type="checkbox" name="checkbox"><i></i>Tất cả</label>
                                    @foreach (var item in Model)
                                    {
                                        <label data-id="@item.IDLoaiSanPham" class="checkbox listCate"><input type="checkbox" name="checkbox"><i></i>@item.TenLoai</label>
                                        @*<li data-id="@item.IDLoaiSanPham" class="listCate"><a href="">@item.TenLoai</a></li>*@
                                    }

</div>
                            </ul>

                        </div>
                    </section>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!--product-end -->

<script>
    function loadData(maloai, trang) {
        $.ajax({
            type: 'GET',
            data: { loaiSP: maloai, pageIndex: trang },
            url: '@Url.Action("listProduct","Trangchu")',
            dataType: 'html',
            success: function (data) {
                $('.SPcontent').html(data);

            }
        });
    }
    $(function () {

        loadData(null, null);//null do click thì mới lấy categoryOfProductID
        $('.listCate').click(function () {
            var maloai = $(this).data('id');
            loadData(maloai, null);
        })
    });

</script>