@using CNWeb.Models
@model List<TinTuc>


@{
    foreach (var item in Model)
    {
        <div class="news-new-one">
            <div class="news-new-img">
                <a href="@Url.Action("NewsDetail","Trangchu", new { @IdNew = item.ID})"><img src="@Url.Content("/Images/"+item.HinhAnh)" alt=""></a>
            </div>
            <div class="news-new-cont">
                <h4><a href="@Url.Action("NewsDetail","Trangchu", new { @IdNew = item.ID})">@item.TieuDe</a></h4>
                <span>@item.NgayDang</span>
            </div>
        </div>

    }


 }

