@using PagedList;
@using PagedList.Mvc;
@model PagedList.PagedList<CNWeb.Models.LienHe>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Liên hệ</h2>
<br /><br />
<table class="table table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().HoTen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().NoiDung)
        </th>
        <th>#</th>

    </tr>

    @foreach (var item in Model)
    {
        <tr id="@Url.Content("row"+item.ID)">
            <td>
                @Html.DisplayFor(modelItem => item.HoTen)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.NoiDung)
            </td>


            <td>
                @Ajax.ActionLink("Xóa","Delete",new { @id=item.ID },
                            new AjaxOptions { HttpMethod="Delete",Confirm="Bạn có chắc chắn xóa tài khoản này",OnComplete=Url.Content("$('#row"+item.ID+"').remove();")}
                )
            </td>
        </tr>
    }

</table>
<div class="menuPage">
    @Html.PagedListPager(Model, Page => Url.Action("Index", new { Page = Page }))
</div>

<style>
    .pagination > li.active {
        padding: 5px 10px;
        background-color: #858592;
    }

    .pagination > li {
        padding: 5px 10px;
        background-color: #cabfbf;
        border: 0.5px solid;
        margin-left: 3px;
    }
    .table th {
        color: #fff;
        font-size: 15px;
        background-color: green;
    }

    .table th, .table td {
        padding: 0.74rem;
        vertical-align: top;
        border-top: 1px solid #dee2e6;
        text-align: center;
        font-size: 13px;
    }
</style>